<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">

        <table>
            <tr v-for="(student, index) in studentsList">
                <td>{{student.name}}</td>
                <td><input type="checkbox" v-model="student.isDonePr"></td>

                <td><button class="btn" v-on:click="btnDelete(index)">Удалить</button></td>
            </tr>
        </table>

        <br>
        <input v-model="addForm.name">
        <input type="checkbox" v-model="addForm.isDonePr">

        <button @click="addStudent()">Добавить</button>
    </div>

    <script src="main.js" defer></script>
</body>

</html>